node_modules/
dist/
npm-debug.log
yarn-error.log
coverage
.vscode
.idea

# eslint section
!.eslintrc.js
.eslintcache
src/generated
.env
helm/charts
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__queuestorage__

## Sonar files
test-report.xml
.sonar_lock
**/*.ucfgs
**/*.scannerwork
